@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Oswald&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-drawer-header {
  background-color: #404c68;
  border-radius: 0;
}

.ant-drawer-title {
  color: #fff;
}

.ant-drawer-close {
  color: #fff;
}


